<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      
      <a href="/" class="navbar-brand text-white fw-bold d-flex align-items-center me-4">
        <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Logo" width="35" height="35" class="me-2">
        LogiBAN2
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        
        <li>
          <a href="/" class="nav-link px-3 {% if aba_ativa == 'clientes' %}text-secondary fw-bold{% else %}text-white{% endif %}">
            Clientes
          </a>
        </li>
        
        <li>
          <a href="/pedidos" class="nav-link px-3 {% if aba_ativa == 'pedidos' %}text-secondary fw-bold{% else %}text-white{% endif %}">
            Pedidos
          </a>
        </li>

      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ user_avatar if user_avatar else 'https://github.com/mdo.png' }}" alt="avatar" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small dropdown-menu-end" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Configurações</a></li>
          <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Sair</a></li>
        </ul>
      </div>

    </div>
  </div>
</header>